*.DS_Store
.vscode
/talk
.idea
/dist
slackAPI.txt*
adminPass.txt
*.gob
*.swp
talk-data/log.txt
talk-data/bans.json
talk-data/user-prefs
talk-data/tokens.json
allusers.json
iptables.sh
twitter-creds.json
twitter-creds.json.bak
talk-creds.yml
talk-sshkey
talk-sshkey.pub
talk-config.yml
admins.json
*.bak
talk.yml
integration.yml